{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>目標共有</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
<header>
    <div class="container-1">
        <h1><a class="titol" href="{% url 'app:index' %}">目標共有</a></h1>
        <div class="header-menu">
            <span class="button-top"><a href="{% url 'app:photos_new' %}">宣言する</a></span>
            <span class="button-top"><a href="{% url 'app:index' %}">みんなの声</a></span>
            {% if request.user.is_authenticated %}
                <span class="button-top"><a href="{% url 'app:users_detail' request.user.id %}">マイページ</a></span>
                <span class="button-top"><a href="{% url 'app:logout' %}">ログアウト</a></span>
                {#                <a href="{% url 'app:users_detail' photo.user.id %}">@{{ photo.user }}</a>　　ログイン中のアカウント名を出したい#}
            {% else %}
                <span class="button-top"><a href="{% url 'app:login' %}">ログイン</a></span>
                <span class="button-top"><a href="{% url 'app:signup' %}">アカウント登録</a></span>
            {% endif %}

            {#        <a href="{% url 'app:photos_category' category=photo.category %}"#}
            {#                    class="category">{{ photo.category }}</a>#}
            <span class="button-topp"><a href="{% url 'app:photos_category' %}">つぶやきを見る</a></span>
        </div>

        {% for message in messages %}
            <p class="message-success">{{ message }}</p>
        {% endfor %}
    </div>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>