{% extends 'app/Base.html' %}




{% block content %}

    <div>
        <a href="{% url 'app:index' %}">ホームに戻る</a>
    </div>

    <form action="{% url 'app:photos_new' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table>
            <tr>
                <th>目標</th>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <th>詳細</th>
                <td>{{ form.comment }}</td>
            </tr>
            <tr>
                <th>カテゴリー</th>
                <td>{{ form.category }}</td>
            </tr>
        </table>
        <button type="submit" class="btn">保存</button>
    </form>

{% endblock %}
